body{
    background-color: rgb(0, 0, 0);
}

.centertext{
    text-align: center;
    color: white;
}
h1{
    font-size: 60px;
}
h2{
    color: white;
}
#higherbutton{
    background-color: green;
    width: 90px;
    height: 90px;
    font-size: 50px;
    cursor: grab;
}
#lowerbutton{
    background-color: red;
    width: 90px;
    height: 90px;
    font-size: 50px;
    cursor: grab;
}
h3{
    color: white;
    font-size: 50px;
}
.belowtext{
    color: white;
    text-align: center;
    font-size: 30px;
}
#lowerbutton:hover{
    background-color: rgb(99, 0, 0);
}
#higherbutton:hover{
    background-color: rgb(0, 99, 0);
}
.wrapper{
    background-color: rgba(3, 14, 85, 0.321);
    border: solid white;
    margin: 25px;
    margin-left: 160px;
    margin-right: 160px;
}
#refreshbutton{
    margin: 10px;
    width: 67px;
    height: 25px;
    background-color: white;
    font-style: oblique;
}
#refreshbutton:hover{
    background-color: rgb(200, 200, 200);
}
